html {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 16px;
    padding: 12px;
    flex-shrink: 0;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    padding: 12px;
    flex-shrink: 0;
}

.band.one{
    background-color: #1f2937;
    display: flex;
    padding: 5%;
    padding-inline: 10%;
    gap: 5%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.header.one {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: extra-bold;
}

.subtext.one {
    font-size: 18px;
    color: #E5E7EB;
}

.large {
    min-width: 400px;
    height: auto;
    max-width: 700px;
}

.sign-up {
    background-color: #3882f6;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 6px;
    color: #F9FAF8;
    border: none;
    width: fit-content;
    margin-left: 36px;
}

.sign-up-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.subtext.one, .header.one{
    padding: 16px;
    margin: 16px;
    width: 400px;
}

.band.two, .bar.two {
    background-color: #F9FAF8;

}
.bar.two {
    color: #1F2937;
    font-size: 36px;
    font-weight: extra-bold;
}
.band.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small {
    min-width: 100px;
    height: auto;
    max-width: 300px; 
    border-radius: 8px;
}

.img-row {
    display: flex;
    align-items: baseline;
    gap: 36px;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: center;
}

.image-label {
    min-width: 100px;
    height: auto;
    max-width: 300px; 
}

.band.three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header.three {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1000px;
    min-width: 400px;
}

.quote-source {
    font-weight: bold;
    width: 200px;
    margin-right: 130px;
    margin-left: auto;
    padding-bottom: 100px;
}


.band.four {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.action-box {
    display: flex;
    background-color: #3882f6;
    padding: 50px 100px 50px 100px;
    justify-content: space-between;
    gap: 100px;
    width: 1100px;
    border-radius: 8px;
    border: none;
}

.action-text {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    align-self: flex-end;
}

.sign-up-two {
    color: #F9FAF8;
    background-color: #3882f6;
    border-color: #F9FAF8;
    border-radius: 12px;
    height: 40px;
    width: 120px;
    align-self: center;
    margin-bottom: 10px;
    font-size: 18px;
}

h3 {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.action-4 {
    margin-top: 4px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    background-color: #1f2937;
    width: 100%;
    color: #E5E7EB;
    font-size: 14px;
    font-weight: lighter;
    padding: 20px;
    
}